.aside{
    max-width: 319px;
    width: 100%;
    background-color: $black_color;
    padding: 42px 31px 105px 30px;
    color: $white_color;
    box-sizing: border-box;
    max-height: 1135px;
    height: 100%;
    @media screen and (max-width: 1080px) {
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 30px;
        width: min-content;
    }
    .aside-title{
        @include horizontal (space-between);
        flex-wrap: wrap;
        @media screen and (max-width: 1080px) {
            justify-content: center;
        }
        h3{
            font-family: 'Avenir LT Pro 65 Black';
            font-size: 24px;
            @media screen and (max-width: 1080px) {
                font-size: 14px;
            }
            span{
                font-family: 'Avenir LT Pro Book';
                @media screen and (max-width: 1080px) {
                    font-size: 12px;
                }
            }
        }
        .burger{
            width: 26px;
            height: 11px;
            position: relative;
            cursor: pointer;
            @media screen and (max-width: 1080px) {
                margin-top: 10px;
            }
            .divider{
                width: 26px;
                height: 1px;
                background-color: $white_color;
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
            }
            .divider:nth-child(1){
                top: 0;
            }
            .divider:nth-child(2){
                top: 50%;
            }
            .divider:nth-child(3){
                top: 100%;
            }
        }
    }
    .aside-nav-div{
        margin-top: 107px;
        @media screen and (max-width: 1080px) {
            margin-top: 50px;
        }
        .aside-nav-li{
            margin-bottom: 50px;
            @include hover-transition ( .3s);
            @media screen and (max-width: 1080px) {
                padding: 5px 0 5px 0;
                margin-bottom: 10px;
            }
            &:hover:not(.active){
                background-color: #FF2288;
                padding: 15px 0 15px 0;
                border-radius: 12px;
            }
            .aside-nav-a{
                @include align-flex-with-wrap(flex, center, wrap);
                @media screen and (max-width: 1080px) {
                    justify-content: center;
                    flex-direction: column;
                }
                img{
                    margin-left: 30px;
                    @media screen and (max-width: 1080px) {
                        margin-left: 0;
                    }
                }
                h6{
                    margin-left: 15px;
                    font-size: 16px;
                    font-family: 'Avenir LT Pro Medium';
                    color: $white_color;
                    @media screen and (max-width: 1080px) {
                        margin-left: 0;
                    }
                }
            }
        }
        .active{
            background-color: $red_color;
            padding: 15px 0 15px 30px;
            border-radius: 12px;
            margin-bottom: 35px;
            @media screen and (max-width: 1080px) {
                padding: 5px 0 5px 0;
                margin-bottom: 10px;
            }
            .aside-nav-a img{
                margin-left: 0;
            }
        }
    }
    .aside-following-box{
        h6{
            margin: 40px 0 30px 30px;
            font-family: 'Avenir LT Pro 55 Heavy';
            font-size: 12px;
            @media screen and (max-width: 1080px) {
                margin: 30px 10px 30px 0;
            }
        }
        .following-ul{
            @media screen and (max-width: 1080px) {
                :nth-child(4){
                    display: none;
                }
                :nth-child(5){
                    display: none;
                }
            }
            .following-li{
                .aside-following-a{
                    @include align-flex-with-wrap(flex, center, wrap);
                    @media screen and (max-width: 1080px) {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        text-align: center;
                    }
                    img{
                        margin-left: 30px;
                        @media screen and (max-width: 1080px) {
                            margin-left: 0;
                            margin-bottom: 10px;
                        }
                    }
                    h6{
                        color: $white_color;
                        font-size: 16px;
                        font-family: 'Avenir LT Pro Medium';
                        @media screen and (max-width: 1080px) {
                            margin: 0 0 10px 0;
                        }
                    }
                }
            }
        }
    }
    
    .loadMore{
        font-family: 'Avenir LT Pro 55 Heavy';
        font-size: 14px;
        color: $white_color;
        margin-left: 30px;
        @media screen and (max-width: 1080px) {
            margin-left: 6px;
            margin-top: 10px;
            font-size: 10px;
        }
    }
    
}