.aside{
    width: 319px;
    background-color: $black_color;
    padding: 42px 31px 105px 30px;
    color: $white_color;
    .aside-title{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        h3{
            font-family: 'AvenirBlack';
            font-size: 24px;
            span{
                font-family: 'AvenirBook';
            }
        }
        .burger{
            width: 26px;
            height: 11px;
            position: relative;
            .divider{
                width: 26px;
                height: 1px;
                background-color: $white_color;
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
            }
            .divider:nth-child(1){
                top: 0;
            }
            .divider:nth-child(2){
                top: 50%;
            }
            .divider:nth-child(3){
                top: 100%;
            }
        }
    }
    .aside-nav-div{
        margin-top: 107px;
        .aside-nav-li{
            margin-bottom: 50px;
            .aside-nav-a{
                @include align-flex-with-wrap(flex, center, wrap);
                img{
                    margin-left: 30px;
                }
                h6{
                    margin-left: 15px;
                    font-size: 16px;
                    font-family: 'AvenirMedium';
                    color: $white_color;
                }
            }
        }
        .active{
            background-color: $red_color;
            padding: 15px 0 15px 30px;
            border-radius: 12px;
            margin-bottom: 35px;
            .aside-nav-a img{
                margin-left: 0;
            }
        }
    }
    .aside-following-box h6{
        margin: 40px 0 30px 30px;
        font-family: 'AvenirHeavy';
        font-size: 12px;
    }
    .aside-following-a{
        @include align-flex-with-wrap(flex, center, wrap);
        img{
            margin-left: 30px;
        }
        h6{
            color: $white_color;
            font-size: 16px;
            font-family: 'AvenirMedium';
        }
    }
    .loadMore{
        font-family: 'AvenirHeavy';
        font-size: 14px;
        color: $white_color;
        margin-left: 30px;
    }
    
}