.main-container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.header-container{
    max-width: 1485px;
    width: 100%;
    margin: 0 auto;
}
.container{
    max-width: 1231px;
    width: 100%;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}