.footer-div{
    @include horizontal (space-between);
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    .social-ul{
        align-items: center;
        .social-li:not(.last){
            margin-right: 20px;
        }
        .social-img:hover{
            transform: scale(1.5);
        }
    }
    .footer-logo{
        h4{
            font-family: 'Avenir LT Pro Book';
            @include text-styles(16px, $black_color);
            @media screen and (max-width: 360px) {
                font-size: 8px;
            }
        }
        span{
            font-family: 'Avenir LT Pro 65 Black';
            @include text-styles(16px, $black_color);
            @media screen and (max-width: 360px) {
                font-size: 8px;
            }
        }
    }
}