.post-nav-div{
    margin: 40px 0;
    .post-nav{
        @include horizontal (space-between);
        display: flex;
        align-items: center;
        @media screen and (max-width: 1360px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media screen and (max-width: 1080px) {
            justify-content: space-between;
        }
        @media screen and (max-width: 360px) {
            justify-content: center;
            flex-direction: column;
        }
        .post-nav-ul{
            display: flex;
            @media screen and (max-width: 1180px) {
                width: 100%;
                justify-content: center;
                margin-bottom: 10px;
            }
            @media screen and (max-width: 1080px) {
                display: none;
            }
            .post-nav-li{
                padding-right: 50px;
                @media screen and (max-width: 1360px) {
                    padding-right: 25px;
                }
                .post-nav-a{
                    font-family: 'Avenir LT Pro Book';
                    @include text-styles(16px, $black_color);
                    @include hover-transition ( .3s);
                    &:hover{
                        background-color: #F2F2F2;
                            padding: 20px;
                            border-radius: 12px;
                    }
                }
                .post-nav-a.first{
                    background-color: #F2F2F2;
                    padding: 20px;
                    border-radius: 12px;
                    font-family: 'Avenir LT Pro 55 Heavy';
                }
            }
        }
        .responsive-nav-burger{
            display: none;
            @media screen and (max-width: 1080px) {
                display: flex;
                align-items: center;
                border-radius: 12px;
                padding: 8px;
                border: 1px solid #D8D8D8;
                font-size: 16px;
                font-family: "Avenir LT Pro 55 Heavy";
                color: #222222;
                cursor: pointer;
            }
            @media screen and (max-width: 360px) {
                margin-bottom: 10px;
            }
            img{
                max-width: 40px;
                max-height: 24px;
            }
        }
        .filter-box{
            display: flex;
            align-items: center;
            border-radius: 12px;
            border: 1px solid #D8D8D8;
            font-family: 'Avenir LT Pro 55 Heavy';
            @include text-styles(16px, $black_color);
            padding: 16px 23px;
            cursor: pointer;
            @media screen and (max-width: 1360px) {
                padding: 8px 11px;
            }
            img{
                padding-right: 15px;
            }
        }
    }
}