.article-div{
    flex-wrap: wrap;
    justify-content: space-between;
    .post-article{
        margin-bottom: 40px;
        .post-article-image{
            max-width: 289px;
            width: 100%;
        }
        .plus-icon{
            top: 30px;
            left: 30px;
            border-radius: 12px;
            padding: 7px;
            background-color: $white_color;
            &:hover{
                transform: scale(1.2);
            }
        }
        .heart-icon{
            top: 70px;
            left: 30px;
            border-radius: 12px;
            padding: 7px;
            background-color: $white_color;
            &:hover{
                transform: scale(1.2);
            }
        }
        h5{
            max-width: 289px;
            width: 100%;
            margin-bottom: 30px;
            @include text-styles (18px, 'AvenirMedium', $black_color);
        }
    }
}
.btn-box{
    display: flex;
    justify-content: center;
    .article-btn{
        margin: 70px 0;
        border: none;
        cursor: pointer;
        padding: 20px 100px;
        border-radius: 12px;
        @include text-styles (16px, 'AvenirHeavy', $black_color);
        @include hover-transition ( .3s);
        &:hover{
            @include text-styles (26px, 'AvenirHeavy', $black_color);
        }
    }
   
}