.article-div{
    flex-wrap: wrap;
    @include horizontal (space-between);
    @media screen and (max-width: 1560px) {
        @include horizontal (center);
    }
    @media screen and (max-width: 360px) {
        text-align: center;
    }
    .post-article{
        margin-bottom: 40px;
        @media screen and (max-width: 1560px) {
            &:nth-child(7){
                display: none;
            }
            &:nth-child(8){
                display: none;
            }
        }
        @media screen and (max-width: 1360px) {
            &:nth-child(5){
                display: none;
            }
            &:nth-child(6){
                display: none;
            }
        }
        .post-article-image{
            max-width: 289px;
            width: 100%;
            @media screen and (max-width: 360px) {
                max-width: 150px;
            }
        }
        .plus-icon{
            top: 30px;
            left: 30px;
            border-radius: 12px;
            padding: 7px;
            background-color: $white_color;
            &:hover{
                transform: scale(1.2);
            }
        }
        .heart-icon{
            top: 70px;
            left: 30px;
            border-radius: 12px;
            padding: 7px;
            background-color: $white_color;
            &:hover{
                transform: scale(1.2);
            }
        }
        h5{
            max-width: 289px;
            width: 100%;
            margin-bottom: 30px;
            @include text-styles (18px, 'AvenirMedium', $black_color);
            @media screen and (max-width: 360px) {
                max-width: 150px;
            }
        }
    }
}
.btn-box{
    display: flex;
    @include horizontal (center);
    .article-btn{
        margin: 70px 0;
        border: none;
        cursor: pointer;
        padding: 20px 100px;
        border-radius: 12px;
        @include text-styles (16px, 'AvenirHeavy', $black_color);
        @include hover-transition ( .3s);
        &:hover{
            @include text-styles (26px, 'AvenirHeavy', $black_color);
        }
        @media screen and (max-width: 1080px) {
            padding: 15px 50px;
            font-size: 12px;
            border-radius: 10px;
            margin: 50px 0;
            &:hover{
                @include text-styles (20px, 'AvenirHeavy', $black_color);
            }
        }
        @media screen and (max-width: 360px) {
            padding: 10px 30px;
            font-size: 8px;
            border-radius: 8px;
            margin: 30px 0;
            &:hover{
                @include text-styles (15px, 'AvenirHeavy', $black_color);
            }
        }
    }
}