@font-face {
    font-family: 'AvenirMedium';
    src: url('../../fonts/AvenirLTPro-Medium.eot');
    src: url('../../fonts/AvenirLTPro-Medium.eot') format('embedded-opentype'),
         url('../../fonts/AvenirLTPro-Medium.woff2') format('woff2'),
         url('../../fonts/AvenirLTPro-Medium.woff') format('woff'),
         url('../../fonts/AvenirLTPro-Medium.ttf') format('truetype'),
         url('../../fonts/AvenirLTPro-Medium.svg') format('svg');
}

@font-face {
    font-family: 'AvenirHeavy';
    src: url('../../fonts/AvenirLTPro-Heavy.eot');
    src: url('../../fonts/AvenirLTPro-Heavy.eot') format('embedded-opentype'),
         url('../../fonts/AvenirLTPro-Heavy.woff2') format('woff2'),
         url('../../fonts/AvenirLTPro-Heavy.woff') format('woff'),
         url('../../fonts/AvenirLTPro-Heavy.ttf') format('truetype'),
         url('../../fonts/AvenirLTPro-Heavy.svg') format('svg');
}

@font-face {
    font-family: 'AvenirBook';
    src: url('../../fonts/AvenirLTPro-Book.eot');
    src: url('../../fonts/AvenirLTPro-Book.eot') format('embedded-opentype'),
         url('../../fonts/AvenirLTPro-Book.woff2') format('woff2'),
         url('../../fonts/AvenirLTPro-Book.woff') format('woff'),
         url('../../fonts/AvenirLTPro-Book.ttf') format('truetype'),
         url('../../fonts/AvenirLTPro-Book.svg') format('svg');
}

@font-face {
    font-family: 'AvenirBlack';
    src: url('../../fonts/AvenirLTPro-Black.eot');
    src: url('../../fonts/AvenirLTPro-Black.eot') format('embedded-opentype'),
         url('../../fonts/AvenirLTPro-Black.woff2') format('woff2'),
         url('../../fonts/AvenirLTPro-Black.woff') format('woff'),
         url('../../fonts/AvenirLTPro-Black.ttf') format('truetype'),
         url('../../fonts/AvenirLTPro-Black.svg') format('svg');
}

@font-face {
    font-family: 'Avenir';
    src: url('../../fonts/AvenirLTPro-Light.eot');
    src: url('../../fonts/AvenirLTPro-Light.eot') format('embedded-opentype'),
         url('../../fonts/AvenirLTPro-Heavy.woff2') format('woff2'),
         url('../../fonts/AvenirLTPro-Heavy.woff') format('woff'),
         url('../../fonts/AvenirLTPro-Heavy.ttf') format('truetype'),
         url('../../fonts/AvenirLTPro-Heavy.svg') format('svg');
}