@mixin  horizontal($horizontal) {
    justify-content: $horizontal;
}

@mixin align-flex-with-wrap($prop, $vert, $wrapProp) {
    display: $prop;
    align-items: $vert;
    flex-wrap: $wrapProp;
}

@mixin text-styles ($size, $family, $color) {
    font-size: $size;
    font-family: $family;
    color: $color;
}

// @include horizontal (space-between);