/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'AvenirMedium';
  src: url("../../fonts/AvenirMedium.eot");
  src: url("../../fonts/AvenirMedium.eot") format("embedded-opentype"), url("../../fonts/AvenirMedium.woff2") format("woff2"), url("../../fonts/AvenirMedium.woff") format("woff"), url("../../fonts/AvenirMedium.ttf") format("truetype"), url("../../fonts/AvenirMedium.svg#AvenirMedium") format("svg"); }

@font-face {
  font-family: 'AvenirHeavy';
  src: url("../../fonts/AvenirHeavy.eot");
  src: url("../../fonts/AvenirHeavy.eot") format("embedded-opentype"), url("../../fonts/AvenirHeavy.woff2") format("woff2"), url("../../fonts/AvenirHeavy.woff") format("woff"), url("../../fonts/AvenirHeavy.ttf") format("truetype"), url("../../fonts/AvenirHeavy.svg#AvenirHeavy") format("svg"); }

@font-face {
  font-family: 'AvenirBook';
  src: url("../../fonts/AvenirBook.eot");
  src: url("../../fonts/AvenirBook.eot") format("embedded-opentype"), url("../../fonts/AvenirBook.woff2") format("woff2"), url("../../fonts/AvenirBook.woff") format("woff"), url("../../fonts/AvenirBook.ttf") format("truetype"), url("../../fonts/AvenirBook.svg#AvenirBook") format("svg"); }

@font-face {
  font-family: 'AvenirBlack';
  src: url("../../fonts/AvenirBlack.eot");
  src: url("../../fonts/AvenirBlack.eot") format("embedded-opentype"), url("../../fonts/AvenirBlack.woff2") format("woff2"), url("../../fonts/AvenirBlack.woff") format("woff"), url("../../fonts/AvenirBlack.ttf") format("truetype"), url("../../fonts/AvenirBlack.svg#AvenirBlack") format("svg"); }

@font-face {
  font-family: 'Avenir';
  src: url("../../fonts/AvenirRegular.eot");
  src: url("../../fonts/AvenirRegular.eot") format("embedded-opentype"), url("../../fonts/AvenirRegular.woff2") format("woff2"), url("../../fonts/AvenirRegular.woff") format("woff"), url("../../fonts/AvenirRegular.ttf") format("truetype"), url("../../fonts/AvenirRegular.svg#AvenirRegular") format("svg"); }

.main-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex; }

.container {
  max-width: 1485px;
  width: 100%;
  margin: 0 auto; }

.flex {
  display: flex; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.aside {
  max-width: 319px;
  width: 100%;
  background-color: #222222;
  padding: 42px 31px 105px 30px;
  color: #FFFFFF;
  box-sizing: border-box; }
  .aside .aside-title {
    justify-content: space-between;
    flex-wrap: wrap; }
    .aside .aside-title h3 {
      font-family: 'AvenirBlack';
      font-size: 24px; }
      .aside .aside-title h3 span {
        font-family: 'AvenirBook'; }
    .aside .aside-title .burger {
      width: 26px;
      height: 11px;
      position: relative;
      cursor: pointer; }
      .aside .aside-title .burger .divider {
        width: 26px;
        height: 1px;
        background-color: #FFFFFF;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%; }
      .aside .aside-title .burger .divider:nth-child(1) {
        top: 0; }
      .aside .aside-title .burger .divider:nth-child(2) {
        top: 50%; }
      .aside .aside-title .burger .divider:nth-child(3) {
        top: 100%; }
  .aside .aside-nav-div {
    margin-top: 107px; }
    .aside .aside-nav-div .aside-nav-li {
      margin-bottom: 50px; }
      .aside .aside-nav-div .aside-nav-li .aside-nav-a {
        display: flex;
        align-items: center;
        flex-wrap: wrap; }
        .aside .aside-nav-div .aside-nav-li .aside-nav-a img {
          margin-left: 30px; }
        .aside .aside-nav-div .aside-nav-li .aside-nav-a h6 {
          margin-left: 15px;
          font-size: 16px;
          font-family: 'AvenirMedium';
          color: #FFFFFF; }
    .aside .aside-nav-div .active {
      background-color: #FF2288;
      padding: 15px 0 15px 30px;
      border-radius: 12px;
      margin-bottom: 35px; }
      .aside .aside-nav-div .active .aside-nav-a img {
        margin-left: 0; }
  .aside .aside-following-box h6 {
    margin: 40px 0 30px 30px;
    font-family: 'AvenirHeavy';
    font-size: 12px; }
  .aside .aside-following-a {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .aside .aside-following-a img {
      margin-left: 30px; }
    .aside .aside-following-a h6 {
      color: #FFFFFF;
      font-size: 16px;
      font-family: 'AvenirMedium'; }
  .aside .loadMore {
    font-family: 'AvenirHeavy';
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 30px; }

.main {
  width: 100%; }
  .main .header {
    border-bottom: 1px solid #AFAFAF;
    padding: 30px 90px 30px 25px; }
    .main .header .container-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; }
      @media (max-width: 1120px) {
        .main .header .container-flex {
          justify-content: center; } }
      .main .header .container-flex .search-box {
        position: relative; }
        @media (max-width: 960px) {
          .main .header .container-flex .search-box {
            display: none; } }
      .main .header .container-flex .search-box input {
        background-color: #E7E7E7;
        border: none;
        border-radius: 12px;
        padding: 18px 272px 18px 20px;
        font-family: 'AvenirHeavy';
        font-size: 14px; }
        @media (max-width: 1460px) {
          .main .header .container-flex .search-box input {
            padding-right: 0px; } }
      .main .header .container-flex .search-box a {
        position: absolute;
        top: 18px;
        right: 15px; }
      @media (max-width: 1120px) {
        .main .header .container-flex .nav {
          margin-top: 10px; } }
      @media (max-width: 700px) {
        .main .header .container-flex .nav {
          flex-direction: row;
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: center; } }
      .main .header .container-flex .nav .nav-ul {
        display: flex;
        align-items: center; }
        .main .header .container-flex .nav .nav-ul .nav-li:not(.first) {
          margin-left: 30px; }
          .main .header .container-flex .nav .nav-ul .nav-li:not(.first) .allipse {
            position: absolute;
            top: -7px;
            right: 0; }
          .main .header .container-flex .nav .nav-ul .nav-li:not(.first) .allipse-second {
            position: absolute;
            top: -10px;
            right: 0; }
        .main .header .container-flex .nav .nav-ul .first .nav-a {
          font-family: 'AvenirHeavy';
          font-size: 14px;
          color: #FF2288; }
        .main .header .container-flex .nav .nav-ul .last .nav-a {
          padding: 20px 40px;
          background-color: #FF2288;
          border-radius: 12px;
          color: #FFFFFF; }
          @media (max-width: 960px) {
            .main .header .container-flex .nav .nav-ul .last .nav-a {
              padding: 5px 10px; } }
        .main .header .container-flex .nav .nav-ul .nav-right {
          display: flex;
          align-items: center; }
          @media (max-width: 700px) {
            .main .header .container-flex .nav .nav-ul .nav-right {
              display: none; } }
      .main .header .container-flex .nav .nav-burger {
        width: 26px;
        height: 11px;
        position: relative;
        cursor: pointer;
        margin-left: 10px;
        display: none; }
        @media (max-width: 700px) {
          .main .header .container-flex .nav .nav-burger {
            display: flex; } }
        .main .header .container-flex .nav .nav-burger .nav-divider {
          width: 26px;
          height: 1px;
          background-color: #222222;
          position: absolute;
          transform: translate(-50%, -50%);
          left: 50%; }
        .main .header .container-flex .nav .nav-burger .nav-divider:nth-child(1) {
          top: 0; }
        .main .header .container-flex .nav .nav-burger .nav-divider:nth-child(2) {
          top: 50%; }
        .main .header .container-flex .nav .nav-burger .nav-divider:nth-child(3) {
          top: 100%; }

.post-nav-div {
  margin: 40px 0; }
  @media (max-width: 1500px) {
    .post-nav-div {
      padding: 0 15px; } }
  .post-nav-div .post-container {
    max-width: 1231px;
    width: 100%;
    margin: 0 auto; }
    .post-nav-div .post-container .post-nav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .post-nav-div .post-container .post-nav .post-nav-ul {
        display: flex; }
        .post-nav-div .post-container .post-nav .post-nav-ul .post-nav-li {
          padding-right: 50px; }
          .post-nav-div .post-container .post-nav .post-nav-ul .post-nav-li .post-nav-a {
            font-size: 16px;
            color: #222222;
            font-family: 'AvenirBook'; }
          .post-nav-div .post-container .post-nav .post-nav-ul .post-nav-li .post-nav-a.first {
            background-color: #F2F2F2;
            padding: 20px;
            border-radius: 12px;
            font-family: 'AvenirHeavy'; }
      .post-nav-div .post-container .post-nav .filter-box {
        display: flex;
        align-items: center;
        border-radius: 12px;
        border: 1px solid #D8D8D8;
        font-family: 'AvenirHeavy';
        font-size: 16px;
        color: #222222;
        padding: 16px 23px;
        cursor: pointer; }
        .post-nav-div .post-container .post-nav .filter-box img {
          padding-right: 15px; }
